CFS_SECRET_KEY=REPLACE_WITH_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
CFS_DEFAULT_ADMIN_USERNAME=admin
CFS_DEFAULT_ADMIN_PASSWORD=REPLACE_WITH_STRONG_PASSWORD
CFS_DATA_DIR=/var/lib/shared-file-server
CFS_MAX_UPLOAD_SIZE=52428800
CFS_ANTIVIRUS_ENABLED=true
CFS_CLAMSCAN_PATH=/usr/bin/clamscan
CFS_SCAN_TIMEOUT=120
